/* Pseudo Classes */

/* h2:hover{
    color: red;
}

#header:hover{
    background: lightblue;
    color: peru;
    padding: 100px;
}
a:link{
    color: purple;
}

a:visited{
    color:green;
}

a:active{
    color:black;
} */


/* Position Property
Stack
Relative
Fixed
Absolute
Sticky
*/

/* header{
    position: static;
    border: 2px dotted red;
} */

/* header{
    position: relative;
    left: 50px;
    top: 100px;
    border: 2px dotted green;
} */

/* header{
    position: fixed;
    top: 10px;
    background: green;
    color: white;
    text-align: center;
    width: 500px;
} */

#header{
    position: relative;
    border: 2px dashed red78;
}

#header h2{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px dashed green;
    top: 50px;
    right: 0px;
}

/* h4{
    position: fixed;
    bottom: 20px;
    background: brown;
    color: white;
} */

#nav{
    background: lightgoldenrodyellow;
    margin: 10px auto;
    padding: 5px;
    position: sticky;
    top: 0px;
}

#nav ul{
    margin: 10px auto;
}
#nav ul li{
    display: inline-block;
    font-weight: bold;
}

